.cart{
    margin-top: 35px;
    padding: 5px 10px;
    position: relative;
}
.blog-img img{
    width: 100%;
    border-radius: 8px;
}
.blog-info{
margin-top: 30px;
}
.info-text-container{
    display: flex;
    justify-content: space-between;
    padding: 5px 5px;
    align-items: center;
    margin-bottom: 5px;
}
.info-name{
    display: flex   ;
    align-items: center;
    
    
}
 
.person-img img{
width: 60px;
height: 60px;
border-radius: 50%;
margin-right: 25px;
}
 
.person-text{
    text-align: left;
     

}
.person-text h3 {
    font-family: 'Exo 2';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 160%;
color: #111111;
}
.person-text p{
    font-family: 'Exo 2';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 160%;
color: rgba(17, 17, 17, 0.6);
}
.time-text{
    font-family: 'Exo 2';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
  
text-align: right;

color: rgba(17, 17, 17, 0.6);
}
.title {
 text-align: start;   
font-family: 'Exo 2';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 140%;

color: #111111;
}
.hastag{
    text-align: start;
    font-family: 'Exo 2';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
word-spacing: 20px;
/* identical to box height, or 32px */


color: rgba(17, 17, 17, 0.6);
}
.btn{
      display: flex;
      justify-content: start;
      margin-bottom: 30px;
       
}

@media only screen and (min-width: 600px) {
     
  }

  @media only screen and (min-width: 768px) {
    
  }

 